/**
 * SkyVerge Plugin Updater admin Styles
 *
 * @since 1.0.0
 */

/* Settings page styles
-------------------------------------------------------------- */

.wrap-licenses .form-table,
.wrap-licenses thead,
.wrap-licenses tbody,
.wrap-licenses tfoot,
.wrap-licenses tr,
.wrap-licenses td,
.wrap-licenses th,
.wrap-licenses caption {
	display: block;
}
.wrap-licenses .form-table tr {
	float: left;
	margin: 0 15px 15px 0;
	background: #fff;
	border: 1px solid #ccc;
	width: 30.5%;
	max-width: 350px;
	padding: 14px;
	min-height: 220px;
	position: relative;
	box-sizing: border-box;
}
.wrap-licenses .form-table th {
	background: #f9f9f9;
	padding: 14px !important;
	border-bottom: 1px solid #ccc;
	margin: -14px -14px 20px;
	width: 100%;
	position: inherit !important;
}
.wrap-licenses .form-table td {
	padding: 0;
}
.wrap-licenses td input.regular-text {
	margin: 0 0 8px !important;
	width: 100% !important;
}
.wrap-licenses .sv-license-data[class*="sv-license-"] {
	position: absolute;
	background: #fafafa;
	padding: 14px;
	border-top: 1px solid #eee;
	margin: 20px -14px -14px;
	min-height: 67px;
	width: 100%;
	bottom: 14px;
	box-sizing: border-box;
}
.wrap-licenses .sv-license-data[class*="sv-license-"] a {
	color: #444;
}
.wrap-licenses .sv-license-data[class*="sv-license-"] a:hover {
	text-decoration: none;
}
.wrap-licenses .sv-license-data.license-expires-soon-notice {
	background-color: #00a0d2;
	color: #fff;
	border-color: #00a0d2;
}
.wrap-licenses .sv-license-data.sv-license-expired {
	background-color: #e24e4e;
	color: #fff;
	border-color: #e24e4e;
}
.wrap-licenses .sv-license-data.sv-license-error,
.wrap-licenses .sv-license-data.sv-license-missing,
.wrap-licenses .sv-license-data.sv-license-invalid,
.wrap-licenses .sv-license-data.sv-license-site_inactive,
.wrap-licenses .sv-license-data.sv-license-item_name_mismatch {
	background-color: #ffebcd;
	border-color: #ffebcd;
}
.wrap-licenses .sv-license-data p {
	font-size: 13px;
	margin-top: 0;
}
.wrap-licenses .sv-license-data.license-expires-soon-notice a,
.wrap-licenses .sv-license-data.sv-license-expired a {
	color: #fff;
}
.wrap-licenses .sv-license-data.license-expires-soon-notice a:hover,
.wrap-licenses .sv-license-data.sv-license-expired a:hover {
	text-decoration: none;
}
.wrap-licenses p.submit {
	clear: both;
}

.wc_addons_wrap .storefront {
	display:none !important;
}

.jilt-notice {
	max-width: 800px;
	min-width: 400px;
	background: #335473;
	color: #fff;
	padding: 10px 25px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.jilt-notice h3 {
	margin-bottom: 0;
	color: #fff;
	font-size: 1.4em;
	text-align: center;
}

.jilt-notice p {
	margin-top: 0;
	text-align: center;
}

.jilt-notice .btn {
	padding: 8px 15px;
	border-radius: 3px;
	border: 2px solid #e4ad3b;
	color: #e4ad3b;
	text-decoration: none;
	font-size: 1.2em;
	font-weight: 700;
	-webkit-transition: background-color .2s ease-out;
	-moz-transition: background-color .2s ease-out;
	-o-transition: background-color .2s ease-out;
	transition: background-color .2s ease-out;
}

.jilt-notice .btn:hover {
	color: #fff;
	background: #e4ad3b;
}

.jilt-notice p {
	font-size: 1.1em;
}

@media only screen and (max-width: 826px) {
	.jilt-notice .link {
		display: none;
	}
}
